.topnav {
    overflow: hidden;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a.active
{
    background-color: transparent;
    color: rgb(209, 128, 23);
    animation-name: backg;
    animation-duration: 2s;
}
@keyframes backg {
    from {background-color: transparent;}
    to {background-color: white;}
}
::placeholder {
    color: #a19e9e;
    opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
:-ms-input-placeholder { /* IE 10-11 */
   color: #a19e9e;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #a19e9e;
}
.mailto{
    overflow: hidden;
    text-decoration: none;
    color: rgb(209, 128, 23);
}
 